body {
  box-sizing: border-box;
}

.side-bar {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background-color: orange;
  border: .01em solid grey;
}

.sidebar-inbox, .sidebar-spam {
  font-size: 1.2em;
  display: inline-block;
  list-style-type: none;
  width: 48%;
  margin: 0 auto;
  text-align: center;
}

.sidebar-inbox {
  border-right: .01px solid grey;
}

.sidebar-spam {
  border-left: .01px solid grey;
}

.email-container {
  border: .01em solid black;
  width: 75%;
  margin: 0 auto;
}

.email-container li {
  /*border: .01em dotted grey;*/
  list-style-type: none;
  margin: .8em;
}

.user-id {
  list-style-type: none;
}
